<div id="note">
	<div class="page-header">
		<h1><%= link_to @xfile.name, xfile_path(@xfile) %></h1>
		<ul class="actions">
			<% if policy(@note).update? %>
				<li><%= link_to "Edit Note", [:edit, @xfile, @note], class: "edit" %></li>
			<% end %>
			<% if policy(@note).destroy? %>
				<li><%= link_to "Delete Note", [@xfile, @note], method: :delete, data: {confirm: "Are you sure want to delete this note?"}, class: "delete" %></li>
			<% end %>
		</ul>
		<h2><%= @note.title %></h2>
		<% if @note.state.present? %>
			State: <%= render @note.state %>
		<% end %>
	</div>


	<%= simple_format(@note.description) %>
	<% if @note.assets.any? %>
		<h4>Attached Files</h4>
		<div class="assets">
			<% @note.assets.each do | asset | %>
			<!--<p>-->
				<%= link_to File.basename(asset.asset.url), asset_path(asset) %>
				(<%= number_to_human_size(asset.asset.size) %>)
			<!--</p>-->
			<% end %>
		</div>
	<% end %>

	<p id="author">
		Created by <%= @note.author.email %>, <%= time_ago_in_words(@note.created_at) %>
	</p>

</div>

<header>
	<h3>Comments</h3>
</header>
<div id="comments">
	<% if @note.comments.select(&:persisted?).any? %>
		<%= render @note.comments.select(&:persisted?) %>
	<% else %>
		<p>There are no comments for this note</p>
	<% end %>
</div>
<% if policy(@comment).create? %>
	<%= render "comments/form", note: @note, comment: @comment %>
<% end %>