<h1>New X-File</h1>
<%= form_for(@xfile) do |f| %>
	<p>
		<%= f.label :name, "Название" %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description, "Дэскрипшн" %><br>
		<%= f.text_field :description %>
	</p>

	<%= f.submit "Create X-File" %>
<% end %>